/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
}*/

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    @apply font-main;
}

.heading{
  padding-bottom: 1.5rem;
}

.box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    padding-bottom: 1rem;
}

.box-subset{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:30px 20px;
    transition: .2s linear;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.box-container .box-subset img{
    height: 4.5rem;
    align-items: center;
}

@media (max-width:768px){
    .brands-container{
        padding:20px;
    }
}