@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    @apply font-main;
}

.main--section{
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
}

.footer--section{
    display: flex;
    width: 20rem;
}

.product--section{
    display: flex;
    width: 20rem;
}

.main--text{
    color: white;
    font-weight: 400;   
    margin-left: 0.3rem;
}

.second--text{
    margin-top: 0.5rem;
    text-align: justify;
}

.call-text{
    color: white;
    font-size: 1.2rem;
    font-weight: 400;   
    margin-left: 0.3rem;
}

.info--section{
    padding: 1rem 0 1rem 0 ;
}

@media (max-width:768px){
    .main--section{
        display: block;
        padding-left: 0.5rem;
        margin-top: 1rem;
    }
    .second--text{
        margin-bottom: 1.5rem;
    }
}